[submodule "aws-netcoreapi-aurora-cdk"]
	path = aws-netcoreapi-aurora-cdk
	url = https://github.com/aws-samples/aws-netcoreapi-aurora-cdk.git
[submodule "amazon-cloudwatch-prometheus-metrics-sample"]
	path = amazon-cloudwatch-prometheus-metrics-sample
	url = https://github.com/aws-samples/amazon-cloudwatch-prometheus-metrics-sample.git
[submodule "aws-codepipeline-dotnet-lambda"]
	path = aws-codepipeline-dotnet-lambda
	url = https://github.com/aws-samples/aws-codepipeline-dotnet-lambda.git
[submodule "aws-netcore-app-using-batch"]
	path = aws-netcore-app-using-batch
	url = https://github.com/aws-samples/aws-netcore-app-using-batch.git
[submodule "amazon-textract-code-samples"]
	path = amazon-textract-code-samples
	url = https://github.com/aws-samples/amazon-textract-code-samples.git
[submodule "aws-net-guides"]
	path = aws-net-guides
	url = https://github.com/aws-samples/aws-net-guides.git
[submodule "amazon-ecs-fargate-aspnetcore"]
	path = amazon-ecs-fargate-aspnetcore
	url = https://github.com/aws-samples/amazon-ecs-fargate-aspnetcore.git
[submodule "cloudmosaic-dotnet"]
	path = cloudmosaic-dotnet
	url = https://github.com/aws-samples/cloudmosaic-dotnet.git
[submodule "aws-xray-dotnet-webapp"]
	path = aws-xray-dotnet-webapp
	url = https://github.com/aws-samples/aws-xray-dotnet-webapp.git
[submodule "aws-cognito-dot-net-desktop-app"]
	path = aws-cognito-dot-net-desktop-app
	url = https://github.com/aws-samples/aws-cognito-dot-net-desktop-app.git
[submodule "amazon-sagemaker-deepar-retail"]
	path = amazon-sagemaker-deepar-retail
	url = https://github.com/aws-samples/amazon-sagemaker-deepar-retail.git
[submodule "aws-iot-core-dotnet-app-mqtt-over-websockets-sigv4"]
	path = aws-iot-core-dotnet-app-mqtt-over-websockets-sigv4
	url = https://github.com/aws-samples/aws-iot-core-dotnet-app-mqtt-over-websockets-sigv4.git
[submodule "aws-iot-core-http-sigv4-dotnet-app"]
	path = aws-iot-core-http-sigv4-dotnet-app
	url = https://github.com/aws-samples/aws-iot-core-http-sigv4-dotnet-app.git
[submodule "aws-iot-dotnet-publisher-http"]
	path = aws-iot-dotnet-publisher-http
	url = https://github.com/aws-samples/aws-iot-dotnet-publisher-http.git
[submodule "iot-dotnet-publisher-consumer"]
	path = iot-dotnet-publisher-consumer
	url = https://github.com/aws-samples/iot-dotnet-publisher-consumer.git
[submodule "amazon-cognito-aspnetcore-webapp-for-serverless"]
	path = amazon-cognito-aspnetcore-webapp-for-serverless
	url = https://github.com/aws-samples/amazon-cognito-aspnetcore-webapp-for-serverless.git
[submodule "cookiecutter-aws-sam-dotnet"]
	path = cookiecutter-aws-sam-dotnet
	url = https://github.com/aws-samples/cookiecutter-aws-sam-dotnet.git
[submodule "amazon-sagemaker-custom-object-detection"]
	path = amazon-sagemaker-custom-object-detection
	url = https://github.com/aws-samples/amazon-sagemaker-custom-object-detection.git
[submodule "aws-serverless-workshop-decoupled-architecture"]
	path = aws-serverless-workshop-decoupled-architecture
	url = https://github.com/aws-samples/aws-serverless-workshop-decoupled-architecture.git
[submodule "comprehend-medical-samples"]
	path = comprehend-medical-samples
	url = https://github.com/aws-samples/comprehend-medical-samples.git
[submodule "aws-apigateway-lambda-authorizer-blueprints"]
	path = aws-apigateway-lambda-authorizer-blueprints
	url = https://github.com/awslabs/aws-apigateway-lambda-authorizer-blueprints.git
[submodule "aws-alb-identity-aspnetcore"]
	path = aws-alb-identity-aspnetcore
	url = https://github.com/awslabs/aws-alb-identity-aspnetcore.git
[submodule "CSharp-8.0-and-.NET-Core-3.0-Modern-Cross-Platform-Development-Fourth-Edition"]
	path = CSharp-8.0-and-.NET-Core-3.0-Modern-Cross-Platform-Development-Fourth-Edition
	url = https://github.com/PacktPublishing/CSharp-8.0-and-.NET-Core-3.0-Modern-Cross-Platform-Development-Fourth-Edition.git
[submodule "EfCoreInAction"]
	path = EfCoreInAction
	url = https://github.com/JonPSmith/EfCoreInAction.git
[submodule "pro-ef-core-2-for-asp.net-core-mvc"]
	path = pro-ef-core-2-for-asp.net-core-mvc
	url = https://github.com/Apress/pro-ef-core-2-for-asp.net-core-mvc.git
[submodule "modern-data-access-w-entity-framework-core"]
	path = modern-data-access-w-entity-framework-core
	url = https://github.com/Apress/modern-data-access-w-entity-framework-core.git
[submodule "Mastering-ASP.NET-Core-2.0"]
	path = Mastering-ASP.NET-Core-2.0
	url = https://github.com/PacktPublishing/Mastering-ASP.NET-Core-2.0.git
[submodule "C-8-and-.NET-Core-3-Projects-Using-Azure-Second-Edition"]
	path = C-8-and-.NET-Core-3-Projects-Using-Azure-Second-Edition
	url = https://github.com/PacktPublishing/C-8-and-.NET-Core-3-Projects-Using-Azure-Second-Edition.git
[submodule "Learn-ASP.NET-Core-3-Second-Edition"]
	path = Learn-ASP.NET-Core-3-Second-Edition
	url = https://github.com/PacktPublishing/Learn-ASP.NET-Core-3-Second-Edition.git
[submodule "asp-dot-net-core-in-action"]
	path = asp-dot-net-core-in-action
	url = https://github.com/andrewlock/asp-dot-net-core-in-action.git
[submodule "ASP.NET-Core-3-and-React"]
	path = ASP.NET-Core-3-and-React
	url = https://github.com/PacktPublishing/ASP.NET-Core-3-and-React.git
[submodule "CSharp-and-.NET-Core-Test-Driven-Development"]
	path = CSharp-and-.NET-Core-Test-Driven-Development
	url = https://github.com/PacktPublishing/CSharp-and-.NET-Core-Test-Driven-Development.git
[submodule "net5-samples"]
	path = net5-samples
	url = https://github.com/xamarin/net5-samples.git
[submodule "maui"]
	path = maui
	url = https://github.com/dotnet/maui.git
[submodule "ReactiveUI.Samples"]
	path = ReactiveUI.Samples
	url = https://github.com/reactiveui/ReactiveUI.Samples.git
